body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero h2 {
    color: #38bdf8;
}

.buttons a {
    margin: 10px;
    display: inline-block;
    padding: 10px 20px;
    background: #1e293b;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.section {
    padding: 60px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #38bdf8;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #1e293b;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}